body {
    margin: 10px;
    background-color: #f0f0f0;
    color: #004687;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

iframe{
	margin: 0;
	border-width: 0;
	width: 100%;
}

#title {
	font-size: 300%;
}

table {
    border-collapse: collapse;
	width: 60%;
}

th {
    text-align: left;
	background-color: #004687;
    color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

.centerTable { margin: 30px; }

th, td {
    height: 26px;
	padding-left:5px;
}

table, th, td {
   border: 1px solid black;
}

img {
    width: 60%;
}

.emphasis {
    font-weight: bold;
    color: #B81d18;
}

#name {
	font-size: 200%;
}

li {
  margin-bottom: 5px;
}
